/* Variables */
/* Variables */
/* exports */
:export {
  brandColor: var(--brand-color);
  defaultFont: var(--plus-jakarta-sans);
}

/* Media Mixins */
:root {
  --alice-blue-color: #f0f8ff;
  --brand-color: #121213;
  --brand-light-color: #fff;
  --link-color: rgb(13, 98, 255);
  --link-color-hover: darken(var(--link-color), 10%);
  --black-color: #000;
  --black-color-2: #333335;
  --white-color: #fff;
  --white-color-2: #F5F5F5;
  --pista-green: #F3F8F6;
  --dark-blue-color: #2A3E52;
  --light-gray-color: #ccc;
  --light-gray-color-1: #A4AAAE;
  --light-gray-color-2: #666666;
  --primary-color: #1d1f1e;
  --light-gray-bg-1: #dedde0;
  --light-gray-bg-2: #F0F6FD;
  --light-gray-bg-3: #D9D9D9;
  --light-gray-bg-4: #F8F8F8;
  --light-gray-bg-5: #748DA6;
  --medium-gray: #aaa;
  --dark-shade-gray: #222;
  --light-grayish-blue: #e2e3e4;
  --lighten-dark-color-50: lighten(var(--black-color), 50%);
  --lighten-light-color-50: lighten(var(--white-color), 50%);
  --lighten-transparent-10: fade(var(--white-color), 90%);
  --pos_absolute: absolute;
  --dark-gray-color: #DADEE0;
  --dark-gray-color-2: #2A3E52;
  --light-blue: #F0F6FD;
  --orange: #e24b1b;
  --plate-sliver: #C8C0B3;
  --modal-bg-color: #1d1f1eb5;
  --inherit-color: inherit;
  --light-green-color: #bfb;
  --light-brown: #BA9659;
  --light-brown-2: #FFFCF6;
  --light-brown-3: #957127;
  --light-brown-4: #F4E8DA;
  --light-brown-5: #D6BB8F;
  --light-grey-6: #dadee0;
  --bistre-brown: #957127;
  --black-2: #333335;
  --swiper-theme-color: #2A3E52;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --prata-font: "Prata", serif;
  --playfair-display: "Playfair Display", serif;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  --fweight700: 700;
  --default-lg-fontsize: 18px;
  --default-desktop-fontsize: 14px;
  --default-mobile-fontsize: 14px;
  --f10: 0.625rem;
  --f12: 0.857rem;
  --f13: 0.929rem;
  --f14: 1rem;
  --f15: 1.071rem;
  --f16: 1.143rem;
  --f18: 1.286rem;
  --f20: 1.429rem;
  --f24: 1.714rem;
  --f28: 1.75rem;
  --f30: 2.143rem;
  --f32: 2rem;
  /* 32px */
  --f34: 2.125rem;
  --f36: 2.571rem;
  --f40: 2.857rem;
  --f48: 3.429rem;
  --f64: 4.571rem;
  --f80: 5.714rem;
  --ab-primary-color: #1D1F1E;
  --Ivy-font: "Ivy Mode";
  --Libre-franklin: "Libre Franklin", sans-serif;
  --df-primary-color: #333335;
  --df-required-tcolor: #E54545;
}

:export {
  brandColor: var(--brand-color);
  defaultFont: var(--plus-jakarta-sans);
}

.education-wrapper .faq-page .inner-banner {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .education-wrapper .faq-page .inner-banner {
    margin-bottom: 30px;
  }
}
@media (max-width: 992px) {
  .education-wrapper .faq-page .inner-banner .banner-content {
    flex-direction: column;
  }
}
.education-wrapper .faq-page .inner-banner .banner-content .banner-desc p a {
  font-size: var(--f16);
  font-weight: var(--fw600);
  text-decoration: underline;
  margin-top: 15px;
  display: block;
}
.education-wrapper .about-us-block {
  padding: 0;
}
@media (max-width: 992px) {
  .education-wrapper .guide-section {
    padding: 40px 18px 20px;
  }
}
.education-wrapper .guide-section h2 {
  font-size: var(--f24);
  font-weight: var(--fw600);
  color: var(--primary-color);
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .education-wrapper .guide-section h2 {
    font-size: var(--f18);
  }
}
.education-wrapper .guide-section p {
  font-size: var(--f14);
  font-weight: var(--fw400);
  color: var(--primary-color);
  padding-right: 30px;
}
@media (max-width: 992px) {
  .education-wrapper .guide-section p {
    padding-right: 10px;
  }
}
.education-wrapper .tabs-section {
  margin: 44px 0 20px;
}
@media (max-width: 992px) {
  .education-wrapper .tabs-section {
    margin: 0;
  }
}
.education-wrapper .tabs-section.middle-arrow-slider {
  position: relative;
}
.education-wrapper .tabs-section.middle-arrow-slider .thumbslider-section {
  padding: 0;
}
.education-wrapper .tabs-section.middle-arrow-slider .thumbslider-section .container {
  overflow: hidden;
}
.education-wrapper .tabs-section.middle-arrow-slider .thumbslider-section .container .thumbslider-header .thumbslider-controls div:nth-child(1) {
  position: absolute;
  left: 0px;
  top: 5%;
  border: none;
  z-index: 99;
}
.education-wrapper .tabs-section.middle-arrow-slider .thumbslider-section .container .thumbslider-header .thumbslider-controls div:nth-child(2) {
  position: absolute;
  right: 0px;
  top: 5%;
  border: none;
  z-index: 99;
}
.education-wrapper .tabs-section.middle-arrow-slider .thumbslider-section .container .swiper {
  max-width: 550px;
}
.education-wrapper .tabs-section .bloc-tabs {
  width: auto;
  max-width: 520px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .education-wrapper .tabs-section .bloc-tabs {
    flex-direction: row;
    padding: 0px;
  }
}
.education-wrapper .tabs-section .bloc-tabs .tabs {
  text-decoration: none;
  background-color: var(--light-gray-bg-4);
  padding: 12px 20px;
  color: var(--primary-color);
  width: 130px;
  margin: 0 10px;
  padding: 10px 0px;
}
@media (max-width: 992px) {
  .education-wrapper .tabs-section .bloc-tabs .tabs {
    width: 166px;
    margin: 0 15px;
    width: 166px;
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .education-wrapper .tabs-section .bloc-tabs .tabs:nth-child(2) {
    margin-left: 10px;
  }
}
.education-wrapper .tabs-section .bloc-tabs .tabs.active-tabs {
  background-color: var(--dark-gray-color-2);
  padding: 10px 0px;
  color: var(--white-color);
}
@media (max-width: 992px) {
  .education-wrapper .tabs-section .bloc-tabs .tabs.active-tabs {
    width: 166px;
    margin: 0 15px;
    padding: 10px 20px;
    width: 166px;
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
  }
}
.education-wrapper .tabs-section .content-tabs {
  padding: 0;
}
.education-wrapper .tabs-section .content-tabs .content {
  padding: 0;
}
.education-wrapper .tabs-section .content-tabs .content .faq-sec {
  margin-top: 0;
}
@media (max-width: 992px) {
  .education-wrapper .tabs-section .content-tabs .content .faq-sec {
    padding: 15px 0px;
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .education-wrapper .tabs-section .content-tabs .content .faq-sec h4 {
    margin-top: 20px;
  }
}
.education-wrapper .contact-us-block {
  margin-top: 0;
}
@media (max-width: 992px) {
  .education-wrapper .expert-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .education-wrapper .expert-wrapper .expert-text-wrapper {
    padding: 30px 20px 44px;
  }
}
@media (max-width: 992px) {
  .education-wrapper .book-appoint-sec {
    margin-top: 50px;
  }
}