/* Variables */
/* Variables */
/* exports */
:export {
  brandColor: #121213;
  defaultFont: "Plus Jakarta Sans", sans-serif;
}

/* Media Mixins */
.wishlist_page .bloc-tabs-heading {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .wishlist_page .bloc-tabs-heading {
    margin-top: 20px;
  }
}
.wishlist_page .bloc-tabs-heading .tabs {
  font-size: 16px;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 10px 40px;
  text-align: center;
  background: #fff;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  margin: 0;
}
@media (max-width: 767px) {
  .wishlist_page .bloc-tabs-heading .tabs {
    padding: 10px 20px;
    background: transparent;
  }
}
.wishlist_page .bloc-tabs-heading .tabs.active-tabs {
  color: #A4AAAE;
  border-bottom: none;
}
.wishlist_page .heading_menu a {
  margin: 0px 10px;
  cursor: pointer;
  padding-bottom: 5px;
  display: inline-block;
}
.wishlist_page .heading {
  text-align: center;
}
.wishlist_page p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
  color: #1d1f1e;
  text-align: center;
  padding: 15px 0;
}
.wishlist_page p .material-icons-outlined {
  position: absolute;
  left: 43%;
  font-size: 20px;
}
@media (max-width: 900px) {
  .wishlist_page p .material-icons-outlined {
    left: 38%;
  }
}
@media (max-width: 600px) {
  .wishlist_page p .material-icons-outlined {
    left: 25%;
  }
}
.wishlist_page .thumbNail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  gap: 25px;
}
@media (max-width: 600px) {
  .wishlist_page .thumbNail {
    gap: 10px;
    justify-content: center;
  }
}
.wishlist_page .thumbNail .wishlistData {
  width: 290px;
  position: relative;
}
@media (max-width: 600px) {
  .wishlist_page .thumbNail .wishlistData {
    width: 166px;
  }
}
.wishlist_page .thumbNail .wishlistData h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 4px;
  padding-top: 15px;
}
@media (max-width: 600px) {
  .wishlist_page .thumbNail .wishlistData h5 {
    font-size: 16px;
  }
}
.wishlist_page .thumbNail .wishlistData p {
  margin-bottom: 0;
  font-size: 14px;
  text-align: left;
  padding: 0 0 20px 0;
  height: auto;
}
@media (max-width: 600px) {
  .wishlist_page .thumbNail .wishlistData p {
    font-size: 12px;
  }
}
.wishlist_page .thumbNail .wishlistData .bestseller {
  position: absolute;
  top: 15px;
  left: 20px;
  background: #DADEE0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 5px;
  max-width: 80px;
}
@media (max-width: 600px) {
  .wishlist_page .thumbNail .wishlistData .bestseller {
    top: 10px;
    left: 10px;
    padding: 2px;
    max-width: 65px;
  }
}
.wishlist_page .thumbNail .wishlistData .favourite {
  position: absolute;
  top: 15px;
  right: 0px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 5px;
  max-width: 80px;
}
@media (max-width: 600px) {
  .wishlist_page .thumbNail .wishlistData .favourite .material-icons-outlined {
    left: 0;
    right: -50%;
    top: -5px;
  }
}

.share-wishlist {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #1d1f1e;
  margin: 20px 0 0 !important;
}

.price-from {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.bloc-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .bloc-tabs {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .bloc-tabs.mobile-tab {
    position: absolute;
    background: #fff;
    width: 100%;
    opacity: 99;
    z-index: 9;
  }
}

.tabs {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0;
  margin: 10px 40px;
  text-align: center;
  background: #fff;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs hr {
  display: none;
}
@media (max-width: 767px) {
  .tabs.hide_tab {
    display: none;
  }
}
.tabs.hide_tab.disabled {
  color: #A4AAAE;
}
.tabs .material-icons-outlined {
  position: absolute;
  top: 3px;
  left: -25px;
  font-size: 20px;
}
.tabs .hide_desk {
  display: none;
}

.active-tabs {
  background: white;
  border-bottom: 1px solid #1d1f1e;
  padding: 0;
  margin: 10px 40px;
}
@media (max-width: 767px) {
  .active-tabs {
    background: transparent;
  }
}
@media (max-width: 767px) {
  .active-tabs.mob_menu {
    width: 80%;
    text-align: left;
  }
}
.active-tabs.mob_menu .hide_desk {
  right: 0;
  text-align: right;
  display: block;
}
@media (min-width: 768px) and (max-width: 1600px) {
  .active-tabs.mob_menu .hide_desk {
    display: none;
  }
}

button {
  border: none;
}

.content-tabs {
  flex-grow: 1;
}
.content-tabs .add_wishlist {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 15px;
  margin-top: 60px;
}
@media (max-width: 767px) {
  .content-tabs .add_wishlist {
    margin-top: 40px;
    gap: 10px;
  }
}
.content-tabs .add_wishlist h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #1d1f1e;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
}
@media (max-width: 767px) {
  .content-tabs .add_wishlist h3 {
    font-size: 18px;
    text-align: center;
  }
}
.content-tabs .add_wishlist p {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #1d1f1e;
  font-family: "Plus Jakarta Sans", sans-serif;
}
@media (max-width: 767px) {
  .content-tabs .add_wishlist p {
    padding: 0;
  }
}
.content-tabs .add_wishlist button {
  font-size: 16px;
  line-height: 20px;
  color: #1d1f1e;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  padding: 12px 26px;
  text-transform: capitalize;
  background: transparent;
  border: 1px solid #1d1f1e;
}

.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: block;
}
@media (max-width: 767px) {
  .active-content {
    padding: 0;
  }
}
.active-content .follow-us-sec {
  padding-bottom: 0;
}