/* Variables */
/* Variables */
/* exports */
:export {
  brandColor: var(--brand-color);
  defaultFont: var(--plus-jakarta-sans);
}

:root {
  --alice-blue-color: #f0f8ff;
  --brand-color: #121213;
  --brand-light-color: #fff;
  --link-color: rgb(13, 98, 255);
  --link-color-hover: darken(var(--link-color), 10%);
  --black-color: #000;
  --black-color-2: #333335;
  --white-color: #fff;
  --white-color-2: #F5F5F5;
  --pista-green: #F3F8F6;
  --dark-blue-color: #2A3E52;
  --light-gray-color: #ccc;
  --light-gray-color-1: #A4AAAE;
  --light-gray-color-2: #666666;
  --primary-color: #1d1f1e;
  --light-gray-bg-1: #dedde0;
  --light-gray-bg-2: #F0F6FD;
  --light-gray-bg-3: #D9D9D9;
  --light-gray-bg-4: #F8F8F8;
  --light-gray-bg-5: #748DA6;
  --medium-gray: #aaa;
  --dark-shade-gray: #222;
  --light-grayish-blue: #e2e3e4;
  --lighten-dark-color-50: lighten(var(--black-color), 50%);
  --lighten-light-color-50: lighten(var(--white-color), 50%);
  --lighten-transparent-10: fade(var(--white-color), 90%);
  --pos_absolute: absolute;
  --dark-gray-color: #DADEE0;
  --dark-gray-color-2: #2A3E52;
  --light-blue: #F0F6FD;
  --orange: #e24b1b;
  --plate-sliver: #C8C0B3;
  --modal-bg-color: #1d1f1eb5;
  --inherit-color: inherit;
  --light-green-color: #bfb;
  --light-brown: #BA9659;
  --light-brown-2: #FFFCF6;
  --light-brown-3: #957127;
  --light-brown-4: #F4E8DA;
  --light-brown-5: #D6BB8F;
  --light-grey-6: #dadee0;
  --bistre-brown: #957127;
  --black-2: #333335;
  --swiper-theme-color: #2A3E52;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --prata-font: "Prata", serif;
  --playfair-display: "Playfair Display", serif;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  --fweight700: 700;
  --default-lg-fontsize: 18px;
  --default-desktop-fontsize: 14px;
  --default-mobile-fontsize: 14px;
  --f10: 0.625rem;
  --f12: 0.857rem;
  --f13: 0.929rem;
  --f14: 1rem;
  --f15: 1.071rem;
  --f16: 1.143rem;
  --f18: 1.286rem;
  --f20: 1.429rem;
  --f24: 1.714rem;
  --f28: 1.75rem;
  --f30: 2.143rem;
  --f32: 2rem;
  /* 32px */
  --f34: 2.125rem;
  --f36: 2.571rem;
  --f40: 2.857rem;
  --f48: 3.429rem;
  --f64: 4.571rem;
  --f80: 5.714rem;
  --ab-primary-color: #1D1F1E;
  --Ivy-font: "Ivy Mode";
  --Libre-franklin: "Libre Franklin", sans-serif;
  --df-primary-color: #333335;
  --df-required-tcolor: #E54545;
}

:export {
  brandColor: var(--brand-color);
  defaultFont: var(--plus-jakarta-sans);
}

/* Media Mixins */
@media (min-width: 1200px) {
  .product-wrapper .container .row-lg {
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-1 * var(--bs-gutter-x));
    margin-left: calc(-1 * var(--bs-gutter-x));
  }
}
@media (min-width: 1200px) {
  .product-wrapper .container .row-lg > * {
    padding-right: calc(var(--bs-gutter-x) * 1);
    padding-left: calc(var(--bs-gutter-x) * 1);
    margin-top: var(--bs-gutter-y);
  }
}
.product-wrapper .container .heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  margin-top: 0px !important;
  align-items: center !important;
}
.product-wrapper .container .heading .MuiTypography-h1 {
  font-size: var(--f24);
  font-weight: var(--fw600);
  line-height: 30.24px;
  margin-bottom: 0px;
}
@media (max-width: 992px) {
  .product-wrapper .container .heading .MuiTypography-h1 {
    font-size: var(--f20);
  }
}
.product-wrapper .container .heading .material-icons-outlined {
  color: var(--light-gray-color-1);
}
.product-wrapper .container .MuiTypography-body1 {
  font-size: var(--f14);
  font-weight: var(--fw400);
  line-height: 19.6px;
}
.product-wrapper .container .round-diamond-sec {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-wrapper .container .round-diamond-sec .MuiFormControl-root {
  padding-top: 20px;
}
.product-wrapper .container .round-diamond-sec label {
  font-size: var(--f16);
  font-weight: var(--fw600);
  line-height: 20.16px;
  color: var(--primary-color);
  margin-bottom: 16px;
  margin-left: 0;
  display: flex;
}
.product-wrapper .container .round-diamond-sec label .MuiTypography-body1 {
  font-size: var(--f14);
  font-weight: var(--fw600);
}
.product-wrapper .container .round-diamond-sec label .material-icons-outlined {
  margin-left: 8px;
  color: var(--light-gray-color-1);
}
.product-wrapper .container .round-diamond-sec .MuiButton-contained {
  background-color: var(--dark-blue-color);
  margin-bottom: 20px;
  padding: 12px 26px;
  text-transform: capitalize;
}
.product-wrapper .container .round-diamond-sec .appointment-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
@media (max-width: 992px) {
  .product-wrapper .container .round-diamond-sec .appointment-btn {
    flex-direction: column;
    gap: 10px;
  }
}
.product-wrapper .container .round-diamond-sec .appointment-btn .MuiButton-root {
  width: 50%;
  text-transform: capitalize;
  font-size: var(--f16);
}
@media (max-width: 992px) {
  .product-wrapper .container .round-diamond-sec .appointment-btn .MuiButton-root {
    width: 100% !important;
  }
}
.product-wrapper .container .round-diamond-sec .MuiTabPanel-root {
  padding: 0;
}
.product-wrapper .container .round-diamond-sec .MuiTabPanel-root .table-container {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
}
.product-wrapper .container .round-diamond-sec .MuiTabPanel-root .table-container .MuiTable-root .MuiTableBody-root tr:last-child:nth-child(odd) {
  position: relative;
}
.product-wrapper .container .round-diamond-sec .MuiTabPanel-root .table-container .MuiTable-root .MuiTableBody-root tr td .table-cart-btn {
  padding: 5px 12px;
  margin: 0px;
  font-size: var(--f12);
  min-width: initial;
  min-height: initial;
}
@media (min-width: 1200px) {
  .product-wrapper .container .round-diamond-sec .MuiTabPanel-root .table-container .MuiTable-root .MuiTableBody-root tr td .table-cart-btn {
    visibility: hidden;
  }
}
@media (min-width: 1200px) {
  .product-wrapper .container .round-diamond-sec .MuiTabPanel-root .table-container .MuiTable-root .MuiTableBody-root tr:hover td .table-cart-btn {
    visibility: visible;
  }
}
.product-wrapper .container .round-diamond-sec .table-container {
  margin: 0 -15px;
}
.product-wrapper .container .round-diamond-sec .table-container .MuiTableContainer-root .MuiTable-root .MuiTableCell-root {
  text-align: center;
  padding: 6px 2px;
  font-size: var(--f13);
}
.product-wrapper .container .round-diamond-sec .table-container .MuiTableContainer-root .MuiTable-root .MuiTableCell-root img {
  width: 28px;
  height: 28px;
}
.product-wrapper .container .round-diamond-sec .table-container .MuiTableContainer-root .MuiTable-root .MuiTableCell-root:first-child {
  max-width: 30px;
  padding-left: 5px;
}
.product-wrapper .container .round-diamond-sec .table-container .MuiTableContainer-root .MuiTable-root .MuiTableCell-root:first-child button {
  width: 25px;
  height: 25px;
}
.product-wrapper .container .round-diamond-sec .table-container .MuiTableContainer-root .MuiTable-root .MuiTableCell-root.add-to-bag-btn .add-to-bag {
  padding: 8px 16px;
}
.product-wrapper .container .round-diamond-sec .table-container .MuiTableContainer-root .MuiTable-root .MuiCollapse-root {
  max-width: 30px;
}
.product-wrapper .container .round-diamond-sec .table-container .MuiTableContainer-root .MuiTable-root div.MuiCollapse-root {
  max-width: none;
}
.product-wrapper .container .round-diamond-sec .table-container .MuiTableContainer-root .collapsed-content-block td .product-list .MuiBox-root {
  flex-wrap: wrap;
  text-align: left;
}
.product-wrapper .container .round-diamond-sec .table-container .MuiTableContainer-root .collapsed-content-block td .product-list .MuiBox-root .product-details-count {
  width: 31%;
}
.product-wrapper .container .round-diamond-sec .table-container .MuiTableContainer-root .collapsed-content-block td .product-list .MuiBox-root .product-details-count .MuiTypography-root:nth-child(2) {
  font-weight: var(--fw600);
  display: block;
}
.product-wrapper .container .round-diamond-sec .add-to-bag {
  margin-bottom: 20px;
  padding: 4px 24px;
  background: var(--light-blue);
}
@media (max-width: 992px) {
  .product-wrapper .container .round-diamond-sec .add-to-bag {
    margin: 24px 0px;
    padding: 4px 15px;
  }
}
.product-wrapper .container .round-diamond-sec .add-to-bag .MuiListItemText-root {
  display: flex;
  justify-content: space-between;
}
.product-wrapper .container .round-diamond-sec .add-to-bag .MuiListItemText-root span, .product-wrapper .container .round-diamond-sec .add-to-bag .MuiListItemText-root p {
  font-weight: var(--fw600);
  color: var(--primary-color);
}
.product-wrapper .container .round-diamond-sec .add-to-bag .MuiListItemText-root.total {
  border-top: 1px solid var(--light-gray-color-1);
  padding-top: 16px;
}
.product-wrapper .container .round-diamond-sec .add-to-bag .MuiListItemText-root.total span, .product-wrapper .container .round-diamond-sec .add-to-bag .MuiListItemText-root.total p {
  font-size: 18px;
}
.product-wrapper .container .round-diamond-sec .add-to-bag .MuiListItemText-root.total p .deleted-price {
  color: var(--orange);
  margin-right: 6px;
  text-decoration: line-through;
}
.product-wrapper .container .round-diamond-sec .add-to-bag .MuiListItemText-root.total-without-discount span, .product-wrapper .container .round-diamond-sec .add-to-bag .MuiListItemText-root.total-without-discount p {
  font-size: 18px;
}
.product-wrapper .container .round-diamond-sec .add-to-bag .MuiListItemText-root.total-without-discount p .deleted-price {
  color: var(--orange);
  margin-right: 6px;
  text-decoration: line-through;
}
.product-wrapper .container .round-diamond-sec .discount-message {
  padding: 22px 40px;
  display: flex;
  justify-content: space-between;
  background: var(--light-gray-bg-4);
  cursor: pointer;
}
@media (max-width: 992px) {
  .product-wrapper .container .round-diamond-sec .discount-message {
    padding: 20px 16px;
  }
}
.product-wrapper .container .round-diamond-sec .discount-message .offer {
  display: flex;
  gap: 10px;
}
.product-wrapper .container .round-diamond-sec .discount-message .offer span {
  font-size: var(--f16);
  font-weight: var(--fw600);
}
.product-wrapper .container .round-diamond-sec .shipping-info {
  margin-top: 30px;
}
.product-wrapper .container .round-diamond-sec .choose-section {
  margin-top: 16px;
  padding: 0 30px;
}
@media (max-width: 992px) {
  .product-wrapper .container .round-diamond-sec .choose-section {
    margin-top: 36px;
    padding: 0;
  }
}
.product-wrapper .container .round-diamond-sec .choose-section .choose-section-thumb h6 {
  font-size: var(--f14);
  font-weight: var(--fw400);
}
.product-wrapper .container a.read-more-link {
  font-size: var(--f14);
  font-weight: var(--fw600);
  line-height: 17.64px;
  margin-top: 14px;
  display: block;
  text-decoration: underline;
}
.product-wrapper .container .accordion-wrapper {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .product-wrapper .container .accordion-wrapper .MuiAccordion-root .MuiAccordionSummary-root {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .product-wrapper .container .accordion-wrapper .MuiAccordion-root .MuiAccordionSummary-root .MuiAccordionSummary-content {
    margin: 0;
  }
}
.product-wrapper .MuiFormGroup-root {
  margin-left: 0;
}
.product-wrapper .MuiFormGroup-root .MuiButtonBase-root {
  padding: 0;
  margin-right: 12px;
}
@media (max-width: 992px) {
  .product-wrapper .thumbslider-section {
    padding: 10px 0 !important;
  }
  .product-wrapper .thumbslider-section .thumbslider-header {
    width: 100%;
    display: block;
  }
  .product-wrapper .thumbslider-section .thumbslider-header .main .image-container {
    display: flex !important;
    gap: 0px !important;
  }
  .product-wrapper .thumbslider-section .thumbslider-header .main .image-container > div {
    width: 49%;
    margin-bottom: 5px;
  }
  .product-wrapper .thumbslider-section .thumbslider-controls {
    margin-top: 15px;
  }
}

.sm-modal.modal {
  align-items: center;
  justify-content: center;
}
.sm-modal.modal .modal-inner {
  position: relative;
}
@media (min-width: 1200px) {
  .sm-modal.modal .modal-inner {
    min-width: 400px;
    max-width: 35vw;
  }
}
@media (min-width: 1200px) {
  .sm-modal.modal .modal-inner .modal-main-content {
    width: 90%;
  }
}
.sm-modal.modal .modal-inner .modal-main-content .modal-content {
  padding-left: 20px;
  padding-right: 20px;
}
.sm-modal.modal .modal-inner .modal-main-content .modal-actions {
  justify-content: center;
}
@media (max-width: 1200px) {
  .sm-modal.modal .modal-inner .modal-main-content .modal-actions {
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  .sm-modal.modal .modal-inner .modal-main-content .modal-actions:last-child {
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .thumbslider-section.cat-slider {
    padding: 20px 0;
  }
}
@media (min-width: 1200px) {
  .thumbslider-section.cat-slider .container {
    padding: 0;
  }
}
.thumbslider-section.cat-slider .image-container > div {
  display: flex;
  align-items: flex-start;
}
.thumbslider-section.cat-slider .image-container > div > img {
  object-position: top;
}