/* Variables */
/* Variables */
/* exports */
:export {
  brandColor: var(--brand-color);
  defaultFont: var(--plus-jakarta-sans);
}

/* Media Mixins */
:root {
  --alice-blue-color: #f0f8ff;
  --brand-color: #121213;
  --brand-light-color: #fff;
  --link-color: rgb(13, 98, 255);
  --link-color-hover: darken(var(--link-color), 10%);
  --black-color: #000;
  --black-color-2: #333335;
  --white-color: #fff;
  --white-color-2: #F5F5F5;
  --pista-green: #F3F8F6;
  --dark-blue-color: #2A3E52;
  --light-gray-color: #ccc;
  --light-gray-color-1: #A4AAAE;
  --light-gray-color-2: #666666;
  --primary-color: #1d1f1e;
  --light-gray-bg-1: #dedde0;
  --light-gray-bg-2: #F0F6FD;
  --light-gray-bg-3: #D9D9D9;
  --light-gray-bg-4: #F8F8F8;
  --light-gray-bg-5: #748DA6;
  --medium-gray: #aaa;
  --dark-shade-gray: #222;
  --light-grayish-blue: #e2e3e4;
  --lighten-dark-color-50: lighten(var(--black-color), 50%);
  --lighten-light-color-50: lighten(var(--white-color), 50%);
  --lighten-transparent-10: fade(var(--white-color), 90%);
  --pos_absolute: absolute;
  --dark-gray-color: #DADEE0;
  --dark-gray-color-2: #2A3E52;
  --light-blue: #F0F6FD;
  --orange: #e24b1b;
  --plate-sliver: #C8C0B3;
  --modal-bg-color: #1d1f1eb5;
  --inherit-color: inherit;
  --light-green-color: #bfb;
  --light-brown: #BA9659;
  --light-brown-2: #FFFCF6;
  --light-brown-3: #957127;
  --light-brown-4: #F4E8DA;
  --light-brown-5: #D6BB8F;
  --light-grey-6: #dadee0;
  --bistre-brown: #957127;
  --black-2: #333335;
  --swiper-theme-color: #2A3E52;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --prata-font: "Prata", serif;
  --playfair-display: "Playfair Display", serif;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  --fweight700: 700;
  --default-lg-fontsize: 18px;
  --default-desktop-fontsize: 14px;
  --default-mobile-fontsize: 14px;
  --f10: 0.625rem;
  --f12: 0.857rem;
  --f13: 0.929rem;
  --f14: 1rem;
  --f15: 1.071rem;
  --f16: 1.143rem;
  --f18: 1.286rem;
  --f20: 1.429rem;
  --f24: 1.714rem;
  --f28: 1.75rem;
  --f30: 2.143rem;
  --f32: 2rem;
  /* 32px */
  --f34: 2.125rem;
  --f36: 2.571rem;
  --f40: 2.857rem;
  --f48: 3.429rem;
  --f64: 4.571rem;
  --f80: 5.714rem;
  --ab-primary-color: #1D1F1E;
  --Ivy-font: "Ivy Mode";
  --Libre-franklin: "Libre Franklin", sans-serif;
  --df-primary-color: #333335;
  --df-required-tcolor: #E54545;
}

:export {
  brandColor: var(--brand-color);
  defaultFont: var(--plus-jakarta-sans);
}

.sales-wrapper .visit-us-sec .visit-over-group {
  gap: 30px 0;
}
.sales-wrapper .faq-variants .faq-sec {
  margin-left: 20px;
}
.sales-wrapper .card-with-label .header-text {
  font-size: var(--f48);
  font-weight: var(--fw400);
  color: var(--primary-color);
  width: 350px;
  padding-bottom: 35px;
}
@media (max-width: 992px) {
  .sales-wrapper .card-with-label .header-text {
    font-size: var(--f36);
    padding-bottom: 16px;
  }
}
@media (max-width: 992px) {
  .sales-wrapper .our-promise-sec .choose-section .choose-section-thumb .choose-details p {
    padding: 0 20px;
  }
}
.sales-wrapper .plus-icon,
.sales-wrapper .minus-icon {
  color: var(--primary-color);
}
@media (max-width: 992px) {
  .sales-wrapper .sales-wrapper .follow-us-sec {
    padding-top: 0;
  }
}
@media (max-width: 992px) {
  .sales-wrapper .faq-variants .faq-sec {
    margin-bottom: 0;
  }
}
@media (max-width: 992px) {
  .sales-wrapper .subscription_bar .needsclick button {
    border-radius: 0 !important;
  }
}
@media (max-width: 992px) {
  .sales-wrapper .book-appoint-sec .sec-In .book-app-links > a {
    align-self: flex-start;
  }
}
.sales-wrapper .faq-page .inner-banner {
  margin-bottom: 0;
}
.sales-wrapper .faq-page .inner-banner .banner-content {
  max-width: 660px;
}
.sales-wrapper .faq-page .inner-banner .banner-content p a {
  margin-top: 20px;
  display: block;
  text-decoration: underline;
}
@media (max-width: 992px) {
  .sales-wrapper .faq-page .inner-banner .banner-content p a {
    font-weight: var(--fw600);
  }
}
.sales-wrapper .thumbslider-section .thumbslider-header .sect-title-clm a {
  display: none;
}
.sales-wrapper .newslester-sec {
  padding: 0px 0;
}
.sales-wrapper .our-promise-sec {
  padding: 0px 0 40px;
}
.sales-wrapper .follow-us-sec {
  padding-top: 50px;
}
@media (max-width: 992px) {
  .sales-wrapper .sect-title-clm {
    width: 60vw;
  }
}
@media (max-width: 992px) {
  .sales-wrapper .subscription_bar button.needsclick {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .sales-wrapper .cara-logos {
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .sales-wrapper .our-promise-sec h2 .italic {
    display: block;
  }
}
@media (max-width: 992px) {
  .sales-wrapper .faq-variants h4.heading {
    padding-top: 50px;
    margin-bottom: 0;
  }
}
@media (max-width: 992px) {
  .sales-wrapper .sales-wrapper .follow-us-sec {
    padding-top: 0;
  }
}