@import './variables.scss', './mixins.scss', './theme/index.scss';

.account-form-sec {
  .heading {
    text-align: center;
    margin-bottom: 36px;
  }

  @include for-phone-only {
    .heading {
      font-size: var(--f36);
      line-height: 48.78px;
    }

    .mobile-form-col {
      margin: 0 -15px;

      .MuiTabPanel-root {
        padding: 24px 0;
      }
    }
  }

  hr {
    border: 1.3px #A4AAAE solid;
    margin: 0;
  }
  .container{
     .heading-title{
      text-align: center;
      margin: 40px 0px;
     }
  }
}